@model Project3_FinalExam.ViewModels.EmploymentViewModel

<h2>@Model.Title</h2>

<h3>Employment Table</h3>

<div id="jsGrid"></div>

<h3>Coop Table</h3>

<div id="coopTable"></div>

<canvas id="myChart" width="200" height="200"></canvas>

@*Get jQuery and jQueryUI Scripts from wwwroot*@
<script src="~/jquery/jquery.js"></script>
<link rel="stylesheet" href="~/jqueryui/themes/le-frog/jquery-ui.min.css">
<script src="~/jqueryui/jquery-ui.js"></script>
<link type="text/css" rel="stylesheet" href="~/jsgrid/jsgrid.min.css" />
<link type="text/css" rel="stylesheet" href="~/jsgrid/jsgrid-theme.min.css" />
<script src="~/jsgrid/jsgrid.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    $("#jsGrid").jsGrid({
        width: "100%",
        height: "90%",

        sorting: true,
        paging: true,

        data: @Html.Raw(Json.Serialize(Model.Employs)),

        fields: [
            { name: "employer", type: "text", title: "Employer" },
            { name: "degree", type: "text", title: "Degree"},
            { name: "city", type: "text", title: "City"},
            { name: "title", type: "text", title: "Title"},
            { name: "startDate", type: "text", title:"Start Date" },
        ]
    });

    $("#coopTable").jsGrid({
        width: "100%",
        height: "90%",

        sorting: true,
        paging: true,

        data: @Html.Raw(Json.Serialize(Model.Coops)),

        fields: [
            { name: "employer", type: "text", title: "Employer" },
            { name: "degree", type: "text", title: "Degree"},
            { name: "city", type: "text", title: "City"},
            { name: "term", type: "text", title: "Term"},
        ]
    });

    var employs = @Html.Raw(Json.Serialize(Model.Employs));
    @{
        string[] xAxis = new string[12];
        int idx = 0;
        Dictionary<string, int> employData = new Dictionary<string, int>();
    }

    @foreach (var item in Model.Employs){
        if (employData.ContainsKey(item.degree) && item.degree.Contains("-BS"))
        {
            employData[item.degree] = employData[item.degree] + 1;
        }
        else if(!employData.ContainsKey(item.degree) && item.degree.Contains("-BS"))
        {
            employData[item.degree] = 1;
            xAxis[idx] = item.degree;
            idx++;
        }
    }

        var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: @Html.Raw(Json.Serialize(employData.Keys.ToArray())),
            datasets: [{
                label: '# of Hires',
                data: @Html.Raw(Json.Serialize(employData.Values.ToArray())),
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            plugins: {
                title: {
                    display: true,
                    text: "Undergraduate Degree Hires",
                    font: {
                        size: 36,
                        weight: 'bold'
                    }
                },
                legend: {
                    display: false
                }
            },
            scales: {
                y: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Number of Hires',
                        font: {
                            size: 18,
                            weight: 'bold'
                        }
                    }
                },
                x: {
                    title: {
                        display: true,
                        text: 'Undergraduate Degrees',
                        font: {
                            size: 18,
                            weight: 'bold'
                        }
                    }
                }
            }
        }
    });

</script>
<style>
    .jsgrid th {
        text-align: center;
    }
</style>
