@model Project3_FinalExam.ViewModels.MinorViewModel

<h2>@Model.Title</h2>

<div id="myMinors">

    <ul>
        @foreach (var minor in Model.Minors)
        {
            <li><a href="#@String.Concat("myDiv", minor.name)">@minor.title</a></li>


        }
    </ul>

    @foreach (var minor in Model.Minors)
    {
        <div id="@String.Concat("myDiv", minor.name)">
            <p>@minor.description</p>
            <ul>
                @foreach (var course in @minor.courses)
                {
                    <li>@course</li>
                }
            </ul>
            <p>@minor.note</p>
        </div>
    }
</div>

@*Get jQuery and jQueryUI Scripts from wwwroot*@
<script src="~/jquery/jquery.js"></script>
<link rel="stylesheet" href="~/jqueryui/themes/le-frog/jquery-ui.min.css">
<script src="~/jqueryui/jquery-ui.js"></script>
<script>
    let divs = document.querySelectorAll("[id^='myDiv']");

    for (var i = 0; i < divs.length; i++) {
        $("#myMinors").append($("#" + divs[i].id));
    }

    $("#myMinors").tabs();</script>
